<head>
  <title>Professional Performance Manager</title>
</head>

<body>
</body>

<template name="layout">
  <header id="pp-header" class="navbar navbar-inverse" role="banner">
    <div id="login-wrapper">{{> loginButtons align="right"}}</div>
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Professional Performance Manager</a>
      </div>
    </div>
  </header>
  <div id="content">
    <div class="container">
      {{> yield}}
    </div>
  </div>
</template>

<template name="home">
  <div id="context-chooser">
    <ul>
      {{#each organizations}}
        <li class="{{#if selected 'organization'}}selected{{/if}} organization">{{name}}</li>
      {{/each}}
    </ul>
    <hr />
    <ul>
      {{#each schools}}
        <li class="{{#if selected 'school'}}selected{{/if}} school">{{name}}</li>
      {{/each}}
    </ul>
  </div>
</template>